<form action="/cats/add-cat" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" placeholder="Hisston Churchill">
  <label for="colour">Colour:</label>
  <input type="text" name="colour" id="colour" placeholder="Black">
  <button type="submit">Add Cat</button>
</form>